/* BASE */

:root{
  --color-body: #333333;
  --color-black: #000000;
}

*{
  box-sizing: border-box; /* Rest CSS pour qu'il soit adapter à tout les moteurs web */
}

html{
  font-size: 62.5%; /* Initialise la taille de la police à 16px */
}

/* GLOBAL */

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #555;
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  color: var(--color-black);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1;
}

h1, .h1{
  font-size: 3.1rem;
}

h2, .h2{
  font-size: 2.8rem;
  text-transform: uppercase;
}

h3, .h3{
  font-size: 2.1rem;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

ul{
  padding-left: 2rem;
}

li{
  margin-bottom: 1rem;
}

.list-unstyled{
  list-style: none;
  margin: 0;
  padding: 0;
}

.category{
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  color: #5b6c78;
}



.container{
  padding: 1rem 2rem;
}

.d-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid{
  display: flex;
  flex-wrap: wrap;
}

.grid__item{
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  padding: 1rem;
}

@media screen and (min-width:750px) {
  .container{
    max-width:1200px;
    margin: 0 auto;
    padding: 2rem;
  }
}

/* SECTIONS */

section{
  padding: 5.5rem 0;
}

.section-title{
  margin-top: 0;
  font-size: 3.8rem;
}

.section-header{
  text-align: center;
}

@media screen and (min-width:750px){
  .section-title{
    font-size: 4.8;
  }
}

  /* Header */

.header{
  background: #fff;
  border-bottom: 1px solid #EEE;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header .logo{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
}

.header li{
  display: inline-flex;
  align-items: center;
  padding: 0 .5rem;
}

.header a{
  color: var(--color-body);
  margin-top: 1.2rem;
  transition: all .4s;
}

.header a:hover{
  color: #a066cb;
  transition: all .4s;
  transform: scale(1.1);
  text-decoration: none;
}

.header .right{
  display: flex;
  align-items: center;
}

.socials{
  display: flex;
}

.socials li{
  margin-top: -.5rem;
  margin-bottom: 0;
}

.socials a{
  padding: 0 2px;
}

.socials .icon{
  height: 20px;
}

.burger{
  background: none;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: relative;
  margin-left: 1rem;
}

.burger .bar{
  display: block;
  width: 22px;
  height: 3px;
  background-color: var(--color-body);
}

.burger .bar::before, .burger .bar::after{
  display: block;
  content: "";
  width: 22px;
  height: 3px;
  background-color: var(--color-body);
  position: absolute;
}

.burger .bar::before{
  transform: translateY(-8px);
}

.burger .bar::after{
  transform: translateY(8px);
}

@media screen and (max-width:749px) {
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 55px;
    left: 110%;
    overflow: hidden;
    width: 0;
    opacity: 0;
    height: calc(100vh - 55px);
    background: #F5F5F5;
    transition: all .4s ease-out;
  }
  nav .menu li{
    display: flex;
    justify-content: center;
  }
  nav a{
    display: block;
    font-size: 2rem;
    padding: 2rem;
  }
  .show-nav nav{
    opacity: 1;
    width: 100%;
    left: 0;
    z-index: 2;
  }
  .show-nav .burger .bar{
    width: 0;
  }
  .burger .bar::before, .burger .bar::after{
    transition: all .2s ease-out;
  }
  .show-nav .burger .bar::before{
    transform: rotate(-45deg);
  }
  .show-nav .burger .bar::after{
    transform: rotate(45deg);
  }
}

@media screen and (min-width:750px){
  .navbar{
    display: flex;
  }
  .burger{
    display: none;
  }
}

  /* Hero */

.hero{
  background-color: #5b6c78;
  color: white;
  padding: 1rem 0 0 0;
}

.hero .title{
  font-size: 4rem;
  margin: 1.6rem 0 0 0;
  font-weight: 700;
}

.hero__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__item span{
  text-transform: uppercase;
}

.hero__item.left{
  animation-duration: 1s;
  animation-name: slideInleft;
}

.hero__item.right{
  animation-duration: 1s;
  animation-name: slideInright;
}

@media screen and (max-width:749px){
  .hero{
    text-align: center;
  }
  .hero__item.left{
    order: 2;
  }
  .hero__item.right{
    order: 1;
  }
}

@media screen and (min-width:750px){
  .hero__item{
    flex: 1 0 50%;
  }
  .hero__item.left{
    align-items: flex-start;
  }
  .hero__avatar img{
    margin-top: 2rem;
    max-width: 400px;
    border-radius: 50%;
  }
}

/* About */

.about .section-title{
  margin-top: 2.8rem;
}



@media screen and (min-width:750px){

  .about__item{
    flex: 1 0 50%;
  }

  .about img{
    margin-right: 3rem;
  }
}

/* Services */

.services{
  background-color: #F5F5F5;
}

.service__icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border: 2px solid #5b6c78;
  border-radius: 50%;
}

.service__icon svg{
  height: 35px;
}

.service__content{
  flex: 1;
}
.service h3{
  margin-bottom: 0;
}

@media screen and (max-width:749px){
  .service{
    text-align: center;
  }
  .service__icon{
    margin: 0 auto;
  }
}

@media screen and (min-width:750px){
  .service{
    display: flex;
    align-items: center;
  }
  .grid__item{
    flex: 1 0 50%;
  }
  .service__icon{
    margin-right: 3rem;
  }
}

/* Skills */

.skills h4, .skills p, .skills img{
  margin: 0 0 0.3rem;
}

.skills p{
  margin: 5rem 0 5rem 0;
}

.skills img{
  margin: 2.5rem 0 0 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.skills svg{
  height: 15px;
}

.skills .btn_lien{
  text-align: center;
  margin-top: 3rem;
}
.skills .skill__left a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  color: #fff;
}

.skills .skill__left svg{
  margin: 0 0 .3rem 1rem;
}

.skills .btn_lien button{
  text-decoration: none;
  background: #5b6c78;
  color: #fff;
  width: auto;
  min-width: 160px;
  font-size: 1.2rem;
  padding: .5rem;
}

.skills .btn_lien button:hover{
  cursor: pointer;
  background: #8d9193;
  transition: all .5s;
}

.skills .progressbar{
  background-color: #F5F5F5;
  color: #fff;
  margin-bottom: 1rem;
}

.skills .bar{
  background-color: #5b6c78;
  padding: 1rem;
  }

@media screen and (max-width: 749px) {
  .skills img{
    margin: 0;
  }
  .skills .skill__left{
    order: 2;
  }
  .skills .skill__right{
    order: 1;
  }
}

/* Portfolio */

.portfolio{
  background: #F5F5F5;
}

.portfolio .grid__item{
  max-width: 50%;
  margin-bottom: 0;
  opacity: 1;
  transition: all 1s ease;
}

.portfolio .grid__item.hide{
  opacity: 0;
  max-width: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.portfolio-filters .grid__item{
  max-width: 50%;
  margin-bottom: 0;
}

.portfolio-filters a{
  color: var(--color-body);
  background: #EEE;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 1rem;
}

.portfolio-filters a.active{
  color: #EEE;
  background: #5b6c78;
}



@media screen and (max-width:749px){
  .portfolio a{
    font-size: 1.4rem;
  }
}

@media screen and (min-width:750px){

    .portfolio .grid__item{
    max-width: 33.3333%;
  }
  .portfolio-filters .grid__item{
    max-width: 25%;
  }
}

/* Form */

.form{
  max-width: 600px;
  margin: 4rem auto 0 auto;
}

.form input, .form textarea{
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.form textarea{
  min-height: 200px;
}

.form .btn{
  background: #5b6c78;
  color: #fff;
  width: auto;
  min-width: 160px;
  font-size: 2rem;
  text-transform: uppercase;
}

.form .btn:hover{
  cursor: pointer;
  background: #8d9193;
  transition: all .5s;
}

/* Footer */

footer{
  background: var(--color-black);
  color:#fff;
  text-align: center;
  font-size: 1.4rem;
}

footer p{
  margin: 0;
  font-size: 10px;
}

footer .grid{
  align-items: center;
}

footer img{
  width: 120px;
}

@media screen and (min-width:750px){
  footer{
    text-align: center;
  }
  footer .grid__item{
    max-width: 33.3333%;
  }
}

/* COMPONENTS */

  /* Card */

  .card{
    background: #EEE;
    text-transform: uppercase;
    position: relative;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    border: 1px solid #EEE;
    overflow: hidden;
  }
  
  .card__inner{
    padding: 2rem;
  }
  .card__title{
    margin: 0 0 1rem;
    font-size: 1.6rem;
  }
  
  .card__overlay{
    font-size: 4.5rem;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 110%;
    transition: all 0.3s;
  }
  
  .card__overlay a{
    font-size: 4.5rem;
    color: #fff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .card:hover .card__overlay{
    top: 0;
  }

  @media screen  and (max-width: 749px) {
    .card__inner{
      padding: 1rem;
    }
    .card__title{
      font-size: 1.3rem;
    }
    .category{
      font-size: .7rem;
    }
    .card__overlay a{
      font-size: 1.8rem;
    }
  }

  .modal{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 4;
    transform: scale(0);
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
  }

  .show.modal{
    transform: scale(1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .modal__content{
    background-color: #fefefe;
    height: 100vh;
    padding: 5rem 1rem;
    overflow: auto;
    text-align: left;
  }

  .modal img{
    margin-bottom: 2rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    border: 1px solid #EEE;
  }

  .modal__title{
    margin: 0 0 2rem;
  }

  .modal .grid__item svg{
    height: 15px;
  }

  .modal__close{
    position: absolute;
    right: 2rem;
    top: 1rem;
    background: none;
    border: 1px solid #EEE;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 3.1rem;
    color: #666;
    cursor: pointer;
  }

  .modal .grid__item{
    max-width: 100%;
    margin-bottom: 0;
    opacity: 1;
    transition: all 1s ease;
  }

  .modal__content{
    padding: 3rem;

  }

  @media screen  and (min-width: 750px) {
    .modal .grid__item{
      max-width: 50%;
    }
    .modal__content{
      padding: 3rem;
    }
  }

/* EFFECTS */

@keyframes slideInleft {
  from{
    transform: translateX(-110%);
  }
  to{
    transform: translateX(0%);
  }
}

@keyframes slideInright {
  from{
    transform: translateX(110%);
  }
  to{
    transform: translateX(0%);
  }
}

